<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"></meta>
    <!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <title>Talk-ja Response</title>
  </head>
  <body>
    <!-- ポイント：th:fragment -->
    <div th:fragment="home_contents">
      <div class="page-header">
        <h1>検索結果</h1>
      </div>
      <table class="table table-bordered table-hover table-striped" >
        <tr>
          <th class="info col-sm-2">ID</th>
          <th class="info col-sm-2">Title</th>
          <th class="info col-sm-2">Name</th>
          <th class="info col-sm-2">URL</th>
        </tr>
        <tr th:each="summary:${list}">
          <td th:text="${summary.id}"></td>
          <td th:text="${summary.title}"></td>
          <td th:text="${summary.name}"></td>
          <td><a th:href="${summary.url}">Link</a></td>
        </tr>
      </table>
      <ul>
        <li th:each="error : ${#fields.detailedErrors()}">
          <span th:text="${error.message}">Error message</span>
        </li>
      </ul>
    </div>
  <body>
</html>