<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"></meta>
    <!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <title>Talk-ja Response</title>
  </head>
  <body>
    <!-- ポイント：th:fragment -->
    <div th:fragment="home_contents">
      <table class="table table-bordered table-hover table-striped" >
        <tr>
          <th class="info col-1">ID</th>
          <th class="info col-4">Title</th>
          <th class="info col-1">Name</th>
          <th class="info col-1">Date</th>
        </tr>
        <!--/*/ <div th:each="summary:${list}"> /*/-->
          <tr>
            <td rowspan="2"><a th:text="${summary.id}" th:href="${summary.url}">id</a></td>
            <td th:text="${summary.title}"></td>
            <td th:text="${summary.name}"></td>
            <td th:text="${summary.dir}"></td>
          </tr>
          <tr>
            <td colspan="3" th:text="${summary.contents}"></td>
          </tr>
        <!--/*/ </div> /*/-->
      </table>
      <ul>
        <li th:each="error : ${#fields.detailedErrors()}">
          <span th:text="${error.message}">Error message</span>
        </li>
      </ul>
    </div>
  <body>
</html>